header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 150px; 
    background-color: #fff;

    nav {
        display: flex;
        column-gap: 30px;

        a {
            text-decoration: none;
            color: #1F1534;
            opacity: 0.5;
        }

        .active {
            color: #1F1534;
            opacity: 1;
            font-weight: 700;

        }
    }
}