.testimonial-section {
    display: flex;
    background-color: #F3F8FE;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding-top: 140px;
    /* padding: 140px 500px 250px 200px;m */
   
   
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(#67C3F3, #5A98F2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    width: 1120px;
    height: 425px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-right:20px ;
    padding-left: 10px;
}

.second-line{
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    background-color: #fff;
    margin: 0 auto
    
}
.testimonial-section h2 {
    font-size: 36px;
    color:#fff;
    padding: 70px 100px 26px 100px;
}

.customer-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
  
}

.profile{
    display: flex;
    justify-content: space-between;
    /* padding-right: 50px; */
    padding-top: 50px;
    
}

    
.foto-profile {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid var(--white);
    background-image: url(../../img/avatar.webp);
    background-size: contain;
    gap: 25px;
    
}
.customer-info{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.customer-info h3 {
    font-size: 20px;
    margin-bottom: 7px;
    color: #fff;
}

.customer-info p {
    text-align: left;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: 1px;
}

.testimonial-text {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.90);
    line-height: 1.8;
    width: 410px;
    height: 108.297px;
    flex-shrink: 0;
    text-align: left;
    position:relative; 
    top: 25px
   
    }

    .feedbacks {
        display: flex;
        align-items: center;
        column-gap: 80px;
        justify-content: space-between;
        padding-bottom: 100px;

        img {
            height: 24px;
            width: 31px;
            width: 18%;
            cursor: pointer;

        }


        & > div {
            display: flex;
            column-gap: 20px;
        }
        .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #5B9BF3;
            cursor: pointer;

        }

        .dot:not(:first-child) {
            opacity: 0.5;
        }
    }